*{margin:0;
padding:0;}


main{width: 1024px;
margin: auto;}
/* NAVEGAÇÃO */

nav{
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size:20px;
  color:black;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
align-items: center;
border-bottom: 1px solid black;}

nav a{color:black;
text-decoration: none;}

nav a:hover{text-decoration: underline;}

.menu{list-style: none;
width: 550px;
display: flex;
justify-content: space-between;
align-items: center;}

.botaoinicio{color:white;
background: black;
padding-left: 60px;
padding-right: 60px;
padding-top:37px;
padding-bottom: 40px;}

header {height: 100px;
border-bottom: 1px solid black;
align-items: center;}

/* TIPOGRAFIA */
h1{font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 70px;
  color:red;}


h2{font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: 40px;
  color:#646060;}


.p {font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: 14px;
  color:#646060;}

/* SEÇÃO SLIDER */